@import "../../scss/variables";
:host {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.ans-background {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
  url('../../assets/images/ANS_Background_Image.jpg');
  background-size: cover;
  color: $white;


  .h1{
    font-size: 4rem;
  }
}

.h2{
  font-size: 3rem;
}

.container{
  padding: 60px;
}

.link-button{
  color: $primary;
  border-radius: 0;
  text-transform: none;
  padding: 13px 15px;
  font-size: 17px;
  line-height: 21px;
  border: 2px solid $orange;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  margin: 0;

  &:hover{
    background: $orange;
    color:$white;
  }
}

.btn.link-button{
  max-width: 200px;
}

.text-label{
  font-size: 20px;
}

.link-box {
  font-size: 1.5rem;
  padding: 13px 100px;
  color: $white;
  display: inline-block;
}

.form-control{
  border-color: $secondary;
  border-radius: unset;
  -webkit-box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
  -moz-box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
  box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
}
