@import "../../scss/variables";

:host {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.ans-background {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
  url('../../assets/images/ANS_Background_Image.jpg');
  color: $white;


  .h1 {
    font-size: 4rem;
  }
}

.h2 {
  font-size: 3rem;
}

.container {
  padding: 60px 40px;
  margin: 0;
}

.link-button {
  color: $primary;
  border-radius: 0;
  text-transform: none;
  padding: 13px 15px;
  font-size: 17px;
  line-height: 21px;
  border: 2px solid $orange;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  margin: 0;

  &:hover {
    background: $orange;
    color: $white;
  }
}

.btn.link-button {
  max-width: 192px;
}

.form-container {
  background-color: $white;
}

.text-label {
  font-size: 20px;
}

.link-box {
  font-size: 1.5rem;
  padding: 13px 100px;
  color: $white;
  display: inline-block;
}

.login-text {
  height: 33.33%;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.form-box {
  height: calc(100% - 33.33%);
}

.btn-container {
  margin-bottom: 0.5rem;
}

.width-75 {
  width: 75%;
}

@media(max-width: 1024px) {
  .logo {
    max-width: 100%;
  }
  .container {
    padding: 30px;
  }

  .w-40.container {
    width: 45% !important;
  }
  .w-60.container {
    width: 55% !important;
  }
  .width-md-100 {
    width: 100%;
  }
  .ans-background {
    .h1 {
      font-size: 3.5rem;
    }
  }
}

@media(max-width: 768px) {
  .logo {
    max-width: 100%;
  }

  .link-button {
    padding: 8px 13px;
    font-size: 16px;
    line-height: 20px;
  }

  .link-box {
    padding: 10px 50px;
  }

  .login-text {
    margin-top: 2em;
  }

  .btn-container {
    margin-bottom: 3.5rem;
  }
}

@media(max-width: 375px) {
  .login-text {
    margin-top: 1.5em;
  }

  .btn-container {
    margin-bottom: 2.5rem;
  }
}

@media(max-width: 320px) {
  .login-text {
    margin-top: 0.5rem;
  }

  .btn-container {
    margin-bottom: 0.5rem;
  }
}
