<div class="container-fluid d-flex w-100 h-100">
  <div class="container-fluid border mb-15 mt-15 shadow p-0">
    <div class="h-100 p-0">
      <div class="main-container d-flex flex-grow-1">
        <div class="d-flex flex-column flex-grow-1 container-card m-0 h-100 overflow-auto">
          <!--Body-->
          <div class="body h-100 w-100 d-flex flex-column">
            <div class="container-card m-15 h-50">
              <app-custom-map></app-custom-map>
            </div>
            <div class="container-card m-15 h-50">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Country</th>
                  <th scope="col">Area</th>
                  <th scope="col">Population</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                    {{ country.name }}
                  </td>
                  <td>{{ country.area | number }}</td>
                  <td>{{ country.population | number }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

