<div class="container-fluid w-100 h-100 py-3">
  <div class="card shadow rounded-0">
    <div class="card-header d-flex h5 bg-primary text-orange rounded-0 align-items-center">
      <i class="fa fa-th-list mr-2 fa-lg" aria-hidden="true"></i> Devices
    </div>
    <div class="card-body bg-image">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback text-primary"></span>
        <input type="text" class="form-control border-primary rounded-0" placeholder="Search Devices">
      </div>

      <div class="flex-table">
        <div class="flex-table-thead bg-primary text-orange h6">
          <div class="row">
            <div class="col">Gateway Connection</div>
            <div class="col">Device Connection</div>
            <div class="col">Device Name</div>
            <div class="col">Device Health</div>
            <div class="col">Gateway Health</div>
            <div class="col"></div>
          </div>
        </div>
        <div class="flex-table-tbody">
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row shadow-sm">
            <div class="col text-center">
              <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-chain-broken fa-stack-1x"></i>
                <!--                <i class="fa fa-chain fa-stack-1x"></i>-->
              </span>
            </div>
            <div class="col text-center">
               <span class="fa-stack fa-lg text-danger text-success">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-exchange fa-stack-1x fa-rotate-90"></i>
              </span>
            </div>
            <div class="col flex-column text-center">
              <label class="d-block raleway-semi-bold text-primary m-0">Westell</label>
              <small class="d-block text-secondary">Westell</small>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <span class="btn btn-success pointer-none rounded-0">Healthy</span>
            </div>
            <div class="col text-center">
              <button class="btn btn-link">
                <i class="fa fa-bars fa-lg text-orange" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
