<ngb-accordion #a="ngbAccordion" class="custom-acc h-100" activeIds="active-alarms">
  <ngb-panel id="active-alarms" class="custom-panel">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-center">
        <h5 class="m-0 text-white">Top 10 0f 50 Active Alarms</h5>
        <!--  <button ngbPanelToggle class="btn btn-link p-0">Toggle first</button>-->
      </div>
    </ng-template>
    <ng-template ngbPanelContent class="custom-panel">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="isAlarmsLoading">
        <app-loader *ngIf="isAlarmsLoading"></app-loader>
      </div>
      <table class="table table-striped w-100 h-100" *ngIf="!isAlarmsLoading">
        <thead>
        <tr>
          <th >Health</th>
          <th >Alarm name</th>
          <th >Value</th>
          <th >Device Name</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alarm of data; index as i">
            <td>
           <span class="badge ellipsis-badge font-weight-normal p-2 mr-3 text-white"
                 [ngStyle]="{'background-color': alarm.healthColor}">
             {{alarm.health}}</span>
            </td>
            <td>{{alarm.attributeName}}</td>
            <td>high</td>
            <td>{{alarm.deviceName}}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
