<div id="mySidebar" class="sidebar" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
  <ul class="nav w-100">
    <li class="nav-item w-100" *ngFor="let item of menuItems;">
      <a routerLink="{{item.path}}" routerLinkActive="active shadow-sm" class="nav-link d-flex" [routerLinkActiveOptions]="{ exact: true }">
        <svg-icon [src]="'assets/images/icons/'  + item.icon" class="fill-orange d-flex align-items-baseline"
                  [svgStyle]="{ 'height.px':24, 'width.px':24}"></svg-icon>
        <span *ngIf="!isSidebarClose" class="ml-3 text-white"> {{item.title}}</span>
      </a>
    </li>
  </ul>
</div>
