<div class="col-12 bg-primary p-0">
  <nav class="navbar navbar-dark py-2">
    <div class="mr-auto">
      <svg-icon src="assets/images/icons/download.svg" class="fill-white"
                [svgStyle]="{ 'height.px':50, 'width.px':50}"></svg-icon>
      <div class="navbar-brand">
        <img src="assets/images/ANS_logo.png" width="150px">
      </div>
    </div>
    <div class="ml-5 ml-auto" id="navbarNav">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item d-flex align-items-center mx-4">
          <a class="nav-link" href="#">
            <span *ngIf="loggedInUser">{{loggedInUser.name}}</span>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center mx-4" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" href="javascript:void(0)">
            <svg-icon src="assets/images/icons/gear.svg" class="fill-white"
                      [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center mx-4">
          <a class="nav-link" href="javascript:void(0)">
            <svg-icon src="assets/images/icons/sign-out.svg" class="fill-white"
                      [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
