@import '../scss/variables';

.custom-acc {
  //.card {
  //  height: 100%;
  //  .show {
  //    height:100%
  //  }
  //}
  //.card, .card-header {
  //  background: $primary;
  //  border: none;
  //  -webkit-border-radius: unset;
  //  -moz-border-radius: unset;
  //  border-radius: unset;
  //  font-family: $headings-font-family;
  //  font-weight: $headings-font-weight;
  //}
  //
  //.card-header {
  //  padding: 1rem 1.25rem;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center ;
  //}
  //
  //.card-body {
  //  height: 100%;
  //  padding-top: 1rem;
  //  background: $white;
  //  display: flex;flex:1;
  //  overflow:auto;
  //}

  .card {
    height: 100%;
    border-radius: unset;

    .show {
      height: 100%
    }

    .card-header {
      background: $primary;
      border: none;
      -webkit-border-radius: unset;
      -moz-border-radius: unset;
      border-radius: unset;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }

    .card-body {
      display: flex;
      overflow: hidden;
      height: 100%;
      flex-direction: column;
    }

    .collapse {
      overflow: hidden;
    }
  }
}
