@import "../scss/variables";

html, body {
  height: 100% !important;
}

.raleway-extra-bold{
  font-family: $font-family-sans-serif;
  font-weight: 800;
}

.raleway-bold{
  font-family: $font-family-sans-serif;
  font-weight: 700 !important;
}

.raleway-semi-bold{
  font-family: $font-family-sans-serif;
  font-weight: 600;
}

.w-60 {
  width: 60% !important;
}

.w-40 {
  width: 40% !important;
}

.h-15{
  height: 15% !important;
}

.h-20{
  height: 20% !important;
}

.h-30{
  height: 30% !important;
}

.h-35{
  height: 35% !important;
}


.h-60{
  height: 60% !important;
}

.login-page{
  .form-control{
    border-color: $secondary;
    border-radius: unset;
    -webkit-box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
    -moz-box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
    box-shadow: 8px 8px 3px 0px rgba($secondary, 0.75);
  }

  .form-background {
    background-color: $white;
  }

  .form-group{
    margin: 0;
  }
}
