$primary: #00538d;
$secondary: #0d95cc;
$light-secondary: #e6f4f9;
$orange: #f47d29;
$dark: #424242;
$red: #d24957;
$green: #37944c;
$white: #ffffff;
$light-gray: #bbbbbb;
$input-text-color: #515151;
$placeholder-text: #ACACAE;
$gray-100: 	#E8E8E8;

/*bootstrap type variable override*/
//  h1, h2, h3, h4, h5, h6,
//  .h1, .h2, .h3, .h4, .h5, .h6 {
//    margin-bottom: $headings-margin-bottom;
//    font-family: $headings-font-family;
//    font-weight: $headings-font-weight;
//    line-height: $headings-line-height;
//    color: $headings-color;
//  }
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 700;

/* body font override*/
$font-family-sans-serif: 'Raleway', sans-serif;
$font-weight-normal: 500;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light-secondary": $light-secondary,
  "orange": $orange,
  "dark":$dark,
  "red": $red,
  "green": $green,
  "white":$white,
  "light-gray":$light-gray,
  "input-text-color": $input-text-color,
  "placeholder-text": $placeholder-text,
  "gray-100": $gray-100

);

@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: $value
  }
}
